$font-family: 'Montserrat'
$font-weight: 300

$box-size: 6rem
$box-size-hover: $box-size + 1.5rem
$box-font-downsize: 2rem
$title-height: 1.5rem

$font-url: 'https://fonts.googleapis.com/css?family=' + $font-family + ':' + $font-weight
@import url($font-url)
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')

*
  margin: 0
  padding: 0
  border: 0
  outline: 0
  box-sizing: border-box
  font-family: $font-family
  font-weight: $font-weight

body,html
  height: 100%
  background-image: radial-gradient(circle at 50% 50%, #ffffff 0%, #ccc 100%)
  background-repeat: no-repeat
  background-attachment: fixed

.r
  width: 100%
  height: 100%

h1
  position: absolute
  top: 25%
  margin-top: -0.5em
  width: 100%
  text-align: center
  font-size: 40px

.q
  width: 50%
  height: 50%
  float: left
  position: relative

  .bw
    margin: 1px
    width: $box-size
    height: $box-size + $title-height
    position: absolute

    transition-property: width, height
    transition-timing-function: ease-out
    transition-duration: 0.2s

    .b
      width: $box-size
      height: $box-size

      font-size: $box-size - $box-font-downsize

      padding: $box-font-downsize * 0.5

      transition-property: width, height, font-size
      transition-timing-function: ease-out
      transition-duration: 0.2s

      color: #f7f7f7
      font-family: 'Material Icons'

    .t
      opacity: 0
      transition-property: opacity
      transition-timing-function: ease-out
      transition-duration: 0.2s

      height: $title-height
      line-height: $title-height
      padding-left: $title-height - 1rem
      padding-right: $title-height - 1rem

    &:hover
      width: $box-size-hover
      height: $box-size-hover + $title-height

      .b
        width: $box-size-hover
        height: $box-size-hover

        font-size: $box-size-hover - $box-font-downsize

      .t
        opacity: 1

  &.t-l .bw
    bottom: 0
    right: 0

  &.t-r .bw
    bottom: 0
    left: 0
    .t
      text-align: right

  &.b-l .bw
    top: 0
    right: 0

  &.b-r .bw
    top: 0
    left: 0
    .t
      text-align: right

