$font-family: 'Quicksand'
$font-weight: 400

$box-size: 6rem
$box-size-hover: $box-size + 1.5rem
$box-size-active: 18rem
$box-font-downsize: 2rem
$title-height: 2rem

$font-url: 'https://fonts.googleapis.com/css?family=' + $font-family + ':' + $font-weight
@import url($font-url)
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')

*
  margin: 0
  padding: 0
  border: 0
  outline: 0
  box-sizing: border-box
  font-family: $font-family
  font-weight: $font-weight
  transition-property: none
  transition-timing-function: ease-out
  transition-duration: 0.2s
  overflow: hidden

body,html
  font-size: 16px
  height: 100%
  background-image: radial-gradient(circle at 50% 50%, transparent 0%, #ccc 100%), url('../assets/noise.png')
  background-attachment: fixed

.root
  width: 100%
  height: 100%
  &.active-box
    h1
      color: transparent !important
h1
  position: absolute
  top: 50%
  margin-top: -$box-size * 2.5
  width: 100%
  text-align: center
  font-size: 40px
  transition-property: color

p
  margin-bottom: 1em

li


a
  color: #f7f7f7

.quad
  width: 50%
  height: 50%
  float: left
  position: relative

  .box-wrapper
    margin: 1px
    width: $box-size
    height: $box-size + $title-height
    position: absolute

    transition-property: width, height

    .box
      overflow: hidden
      position: relative
      width: $box-size
      height: $box-size

      transition-property: width, height

      cursor: pointer

      .icon
        user-select: none
        z-index: 1000

        font-size: $box-size - $box-font-downsize
        position: absolute

        transition-property: color, font-size

        color: rgba(255, 255, 255, 0.8)
        font-family: 'Material Icons'
      .content-wrapper
        position: absolute
        width: $box-size-active
        height: $box-size-active
        opacity: 0
        transition-delay: 0.1s
        transition-property: opacity
        .content
          padding: 1em
          color: #f7f7f7
          font-size: 15px

    .title
      opacity: 0
      transition-property: opacity

      font-size: 20px

      height: $title-height
      line-height: $title-height
      padding-left: $title-height - 1.5rem
      padding-right: $title-height - 1.5rem

    &:hover
      width: $box-size-hover
      height: $box-size-hover + $title-height

      .box
        width: $box-size-hover
        height: $box-size-hover

        .icon
          font-size: $box-size-hover - $box-font-downsize
          color: #f7f7f7
      .title
        opacity: 1

    &.active
      width: $box-size-active
      height: $box-size-active + $title-height

      .box
        width: $box-size-active
        height: $box-size-active

        cursor: auto

        .icon
          font-size: $box-size - $box-font-downsize
          color: transparent
          pointer-events: none
          cursor: default

        .content-wrapper
          opacity: 1

      .title
        opacity: 1

  &.top-left .box-wrapper
    bottom: 0
    right: 0
    .box
      .content-wrapper
        bottom: 0
        right: 0
      .icon
        bottom: $box-font-downsize * 0.5
        right: $box-font-downsize * 0.5

  &.top-right .box-wrapper
    bottom: 0
    left: 0
    .title
      text-align: right
    .box
      .content-wrapper
        bottom: 0
        left: 0
      .icon
        bottom: $box-font-downsize * 0.5
        left: $box-font-downsize * 0.5

  &.bottom-left .box-wrapper
    top: 0
    right: 0
    .box
      .content-wrapper
        top: 0
        right: 0
      .icon
        top: $box-font-downsize * 0.5
        right: $box-font-downsize * 0.5

  &.bottom-right
    .box-wrapper
      top: 0
      left: 0
      .title
        text-align: right
      .box
        .icon
          bottom: $box-font-downsize * 0.5
          left: $box-font-downsize * 0.5

    button
      cursor: pointer
      position: absolute
      bottom: 0
      right: 0
      color: #ccc
      background-color: transparent
      padding: 1em

@import 'audio-player';